<?xml version="1.0"?>

<launch>

    <arg name="use_rviz" default="true" />
    <arg name="selfDrive" default="true"/>
    <arg name="F310" default="false"/>

    <!-- drogo gazebo module-->
<include file="$(find racecar_gazebo)/launch/drogo_sim.launch"/>

<!--Controller -->
<include file="$(find racecar_control)/launch/racecar_control_nav.launch" ns="/" if="$(arg selfDrive)"/>

  <!-- ros_control racecar launch file -->
  <include file="$(find racecar_control)/launch/racecar_control_lucky.launch" ns="/" if="$(arg F310)"/>

<!-- Rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find racecar_gazebo)/rviz_cfg/aslam_v2.rviz" />

  <!--Vector follower -->
  <node pkg="racecar_gazebo" type="aslam_vector_follower" name="aslam_vector_follower" output="screen" />


<!--TF from map to odom -->
  <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0.00001 0 /map /odom 10"/>

</launch>
